<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body><h2>Add new user</h2>
<form th:method="POST" th:action="@{/admin/addUser}" th:object="${user}">

    <label>Enter name: </label>
    <input type="text" th:field="*{name}" id="firstName"/>
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        Incorrect name
    </p>
    <br/>

    <label>Enter password: </label>
    <input type="text" th:field="*{password}" id="lastName"/>
    <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        Incorrect password
    </p>
    <br/>

    <th:block th:each="role: ${allRoles}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role.id}" class="m-2" />
    </th:block>
    </p>
    <br/>

    <input type="submit" value="Save"/></form>
</body>
</html>