<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <span id="NameUser"></span>
            <span th:text="' with roles:'"> with roles:</span>
            <span id="RoleUser"></span>
        </div>
        <div>
            <form th:method="get" th:action="@{/logout}">
                <button class="btn btn-dark text-secondary" type="submit">Logout</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <br><br>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" type="submit">Admin</a>
                </li>
                <li class="nav nav-pills flex-column">
                    <a class="nav-link" th:method="get" th:href="@{/api/view/user}" type="submit">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 bg-light">
            <br><br>
            <h2>Admin panel</h2>
            <div class="tab-pane fade show active">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active">Users table</a>
                    </li>
                    <li class="nav-item">
                        <form th:method="get" th:action="@{/api/view/add}">
                            <button class="btn" type="submit">New User</button>
                        </form>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active">
                        <div class="card rounded-0">
                            <h4 class="card-header">All Users</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="show_users">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно для edit-->

<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog"
     aria-labelledby="modalUpdateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUpdateLabel">Update user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" id="closeUpdate">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form name="updateForm">
                <div class="modal-body px-3 d-flex flex-column align-items-center">
                    <div class="d-flex flex-column align-items-center">
                        <label class="font-weight-bolder mb-0"
                               for="idUpdateModal">ID</label>
                        <input class="form-control" type="text"
                               id="idUpdateModal" readonly
                               name="id">

                        <label class="font-weight-bolder mb-0 mt-3"
                               for="firstnameUpdateModal">First name</label>
                        <input class="form-control" type="text"
                               id="firstnameUpdateModal"
                               name="firstName">

                        <label class="font-weight-bolder mb-0 mt-3"
                               for="lastNameUpdateModal">Last name</label>
                        <input class="form-control" type="text"
                               id="lastNameUpdateModal"
                               name="lastName">

                        <label class="font-weight-bolder mb-0 mt-3" for="ageUpdateModal">Age</label>
                        <input class="form-control" type="number"
                               id="ageUpdateModal"
                               name="age">

                        <label class="font-weight-bolder mb-0 mt-3"
                               for="emailUpdateModal">Email</label>
                        <input class="form-control" type="email"
                               id="emailUpdateModal"
                               name="email">

                        <label class="font-weight-bolder mb-0 mt-3"
                               for="passwordUpdateModal">Password</label>
                        <input class="form-control" type="password"
                               autocomplete="on"
                               name="password"
                               id="passwordUpdateModal">

                        <label class="font-weight-bold mb-0 mt-3" for="rolesUpdateModal">Role</label>
                        <select class="w-100 mb-3" multiple
                                id="rolesUpdateModal"
                                name="roles" required size="2">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="updateFormCloseButton">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Модальное окно для delete-->

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog"
     aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" id="closeDelete">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  name="deleteForm">
                <div class="modal-body px-3 d-flex flex-column align-items-center">
                    <h5>Вы уверены, что хотите удалить пользователя?</h5>
                    <div class="d-flex flex-column align-items-center">
                        <label class="font-weight-bolder mb-0 mt-3"
                               for="idDeleteModal">ID</label>
                        <input class="form-control" type="text"
                               id="idDeleteModal" readonly
                               name="id">

                        <label class="font-weight-bolder mb-0 mt-3"
                               for="firstnameDeleteModal">First name</label>
                        <input class="form-control" type="text"
                               id="firstnameDeleteModal" readonly
                               name="firstName">

                        <label class="font-weight-bolder mb-0 mt-3"
                               for="lastNameDeleteModal">Last name</label>
                        <input class="form-control" type="text"
                               id="lastNameDeleteModal" readonly
                               name="lastName">

                        <label class="font-weight-bolder mb-0 mt-3" for="ageDeleteModal">Age</label>
                        <input class="form-control" type="number"
                               id="ageDeleteModal" readonly max="100"
                               name="age">

                        <label class="font-weight-bolder mb-0 mt-3" for="emailDeleteModal">Email</label>
                        <input class="form-control" type="email"
                               id="emailDeleteModal" readonly
                               name="email">
                        <label class="font-weight-bolder mb-0 mt-3"
                               for="passwordDeleteModal">Password</label>
                        <input class="form-control" type="password"
                               autocomplete="on"
                               name="password"
                               id="passwordDeleteModal">

                        <label class="font-weight-bold mb-0 mt-3" for="rolesDeleteModal">Role</label>
                        <select class="w-100 mb-3" multiple
                                id="rolesDeleteModal"
                                name="roles" required size="2" disabled>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/admin.js"></script>
<script type="text/javascript" src="/js/getRoles.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript" src="/js/update.js"></script>
<script type="text/javascript" src="/js/delete.js"></script>
</body>
</html>


