<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="5" cellpadding="10">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
    </tr>
    </thead>
    <tr th:each="users : ${user}">
        <td th:utext="${user.id}">ID</td>
        <td th:utext="${user.name}">LastName</td>
        <td th:utext="${user.password}">Password</td>
    </tr>
</table>
</br>
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Logout"/>

</form>
</body>
</html>